/*
Reset
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
Common
*/

img{
    display: block;
}

.small{
    font-size: small;
}

/*
Header
*/

header{
    height: 40px;
    background-color: #000000;
    display: flex;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-btn{
    background-color: #4a4a4a;
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
}


/*
Main
*/

main{
    height: calc(100vh - 110px);
    background-color: black;
    overflow: auto;
}

.container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 40px;
    justify-content: center;
    gap: 5px;
} 

.box{
    width: 250px;
    background-color: white;
    height: 100px;
    position: relative;
}

.user{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: #66707c;
    padding: 3px;
}

.foto{
    width: 100%;
}

/*
Footer
*/

footer{
    height: 70px;
    background-color: #222222;
    display: flex;
    color: white;
    justify-content: space-between;
    
}

footer > .voice-video{
    width: 20%;
    padding: 5px;
}

footer > .tool{
    flex-grow: 60%;
}

footer i{
    font-size: 25px;
}

footer .voice-video i{
    margin-left: 25px;
}

.end{
    color: red;
    background-color: #4a4a4a;
    text-align: center;
    width: 120px;
    
}